* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mate", serif;
    color: rgb(160, 236, 208);
    background: linear-gradient(
        145deg,
        rgba(106, 37, 90, 1) 5%,
        rgba(0, 0, 48, 1) 24%
    );

    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 6fr;

    padding: 1rem 1.5rem;
}

body.light {
    color: #8a3033;
    background: rgb(118, 123, 145);
    background: linear-gradient(
        135deg,
        rgba(164, 168, 182, 1) 1%,
        rgba(244, 245, 246, 1) 13%
    );
}

button {
    background-color: transparent;
    border: 2px transparent solid;
    border-radius: 10px;
    padding: 5px;
    font-size: 1rem;
    box-shadow: rgba(106, 37, 90, 0.3) 0px 7px 15px 0px;
}

button.light {
    box-shadow: rgba(164, 168, 182, 0.4) 0px 7px 15px 0px;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(160, 236, 208);
}

a:hover {
    color: #ef476f;
}

a.light {
    color: #8a3033;
}

a.light:hover {
    color: #f6ae2d;
}

/* TOP BANNER */
#top {
    background-color: transparent;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;

    display: flex;
    flex-direction: column;
}

#banner {
    font-family: "Open Sans", sans-serif;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

#info {
    width: 100%;
    height: 60%;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
}

#strapline {
    font-family: "Open Sans", sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    color: #e2c2c6;
    height: 100%;
    width: 25%;
}

#strapline.light {
    color: #141414;
}

.links {
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
    margin: 0 2rem;
}

.links > :hover {
    color: #ef476f;
}

.links.light > :hover {
    color: #f6ae2d;
}

/* SIDE BANNER */

#side {
    background-color: transparent;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 5;

    display: flex;
    height: 100%;
    flex-direction: column;

    min-width: 150px;
}

#contact {
    font-size: 1.25rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#cv {
    cursor: pointer;
}

#cv:hover {
    color: #ef476f;
}

#cv.light:hover {
    color: #f6ae2d;
}

#email-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;

    align-items: center;
}

#email {
    padding-left: 0.25rem;
}

#format {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 10px;
}

#lang {
    margin-right: 10px;
}

#impress {
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
}

/*MAIN*/

#contents {
    font-family: "Nunito Sans", sans-serif;
    padding: 0 5px;
    height: 100%;
    overflow-y: auto;
    color: #fbde89;
}

#contents.light {
    color: #000030;
}

.center-impress {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
}

.soon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 100%;
}

#projwrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.project {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
    padding: 0 1.5rem;
}

img {
    background-color: transparent;
    margin-y: auto;
    margin-x: 10px;
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.cont-default {
    background-color: transparent;
    background-size: 400% 400%;
    animation: backgroundChange0 1s linear forwards;
}

@keyframes backgroundChange0 {
    0% {
        background: radial-gradient(rgba(106, 37, 90, 1) 25%, transparent 75%);
    }
    15% {
        background: radial-gradient(
            rgba(106, 37, 90, 0.75) 25%,
            transparent 75%
        );
    }
    30% {
        background: radial-gradient(
            rgba(106, 37, 90, 0.6) 25%,
            transparent 75%
        );
    }
    45% {
        background: radial-gradient(
            rgba(106, 37, 90, 0.5) 25%,
            transparent 75%
        );
    }
    60% {
        background: radial-gradient(
            rgba(106, 37, 90, 0.3) 25%,
            transparent 75%
        );
    }
    75% {
        background: radial-gradient(
            rgba(106, 37, 90, 0.2) 25%,
            transparent 75%
        );
    }
    100% {
        background-color: transparent;
    }
}

.soon p {
    font-size: 1rem;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: transparent;

    box-shadow: inset 0 0 5px #6a255a70;
}

::-webkit-scrollbar-thumb {
    background-color: #6a255a70;
    outline: 1px #6a255a solid;
    box-shadow: inset 0 0 5px #6a255a90;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #6a255a;
    outline: 1px #6a255a50 solid;
    box-shadow: 0 0 5px #6a255a90;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 820px) {
    #strapline,
    .links,
    #contact {
        font-size: 1rem;
    }
}

@media screen and (max-width: 700px) {
    body {
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 1fr 4fr 1fr;
        padding: 0.5rem 0.5rem;
    }

    #top {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
        width: 100%;
    }
    #banner {
        font-size: 2rem;
        width: 100%;
    }

    #info {
        padding: 0;
        margin: 0;
        width: 100%;
        flex-direction: column;
    }

    #strapline {
        font-size: 0.9rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .links {
        font-size: 0.75rem;
        width: 100%;
        margin: 1rem 0;
        align-items: end;
    }

    .links > div {
        width: 15%;
    }

    #contents {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;

        display: flex;
        flex-direction: column;
        font-size: 0.75rem;
    }

    #projwrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #side {
        font-size: 0.6rem;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;

        flex-direction: row-wrap;
        min-width: 100%;
    }

    #contact {
        flex-direction: row;
        justify-content: space-between;
        height: 50%;
        width: 100%;
        font-size: 0.75rem;
    }

    #footer {
        display: flex;
        flex-direction: row;
        text-align: right;
        justify-content: space-between;
        height: 50%;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    #footer > * {
        padding: 0;
        margin: 0;
        height: 100%;
    }

    #impress {
        bottom: 0;
        right: 0;
        width: 25%;
    }

    #format {
        width: 75%;
        align-items: center;
        justify-content: left;
    }

    #lang {
        margin-right: 5px;
    }

    button {
        font-size: 0.6rem;
    }

    .soon {
        font-size: 1rem;
    }

    .soon p {
        font-size: 0.75rem;
    }
}
